h1 {
    color: white;
    font-family: Tahoma;
    font-size: 500%;
}

body {
    background-color: black;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
