h1 {
    color: #000000;
    font-family: Tahoma;
    font-size: 1000%;
}

body {
    background-image: url("1.jpg");
    background-repeat: repeat;
    background-size: 100%, 100%;
    background-attachment: fixed;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
